// Colors
$primary-color: #f4d833;
$primary-color-dark: #897400;
$secondary-color: #3800ac;
$filter-color: rgba(56, 0, 172, 0.4);

$light-text-color: #F0F1F2;
$text-color: white;

// $accent-color: #FF5722
$primary-text: #3d3d3d;
$secondary-text: #4D4D4D;
$divider-color: #b6b6b6;
$facebook-color: #3b5999;
$twitter-color: #55acee;
$instagram-color: #034069;

// $second-color: #455a64

// //Confirmation Colors
// $success-dark-color: #2D520C
// $success-light-color: #9DD579
// $error-dark-color: #691A1A
// $error-light-color: #FF9196

// Font weights
$regular: 400;
$regular-max: 500;
$bold-min: 600;
$bold: 700;

// Base Font
$text-font-family: "Cabin", sans-serif;
$secondary-text-font-family: "Roboto", sans-serif;

// Title Font
$title-font-family: "Montserrat", sans-serif;

//Heading Font
$heading-font-family: "Montserrat Alternates", sans-serif;

// // Fixed Font
// $fixed-font-family: monospace
// $fixed-font-size: 85%
// $fixed-line-height: $base-line-height

// // Headings
// $header-font-weight: $bold
