.faq-cont {
  display: block;
  margin: 0 auto;
  max-width: 1300px;
  padding: 50px 100px 0 100px;
  text-align: center;
  background-color: #fff;
  @media (max-width: 1200px) {
    padding: 50px 80px 80px 80px;
  }
  @media (max-width: 1100px) {
    padding: 50px 50px 80px 50px;
  }
  @media (max-width: 550px) {
    padding: 50px 50px 80px 50px;
  }
  @media (max-width: 500px) {
    padding: 50px 20px 80px 20px;
  }
  .faq-title {
    margin-bottom: 30px;
    color: $primary-text;
    font-family: $title-font-family;
    @media (max-width: 400px) {
      font-size: 33px;
    }
  }
  .faq-ph {
    font-size: 19px;
    font-weight: 100;
    color: $secondary-text;
    font-family: $secondary-text-font-family;
    @media (max-width: 1100px) {
      margin: 0 80px;
    }
    @media (max-width: 800px) {
      font-size: 17px;
    }
    @media (max-width: 700px) {
      margin: 0 20px;
    }
  }
  .faq-main {
    margin: 50px 0 0 0;
    text-align: left;
    .faq-img {
      .img {
        width: 100%;
        @media (max-width: 920px) {
          display: none;
        }
      }
    }
    .faq-questions-cont {
      padding: 0 20px;
      @media (max-width: 920px) {
        width: 80% !important;
        float: none;
        display: block;
        margin: 0 auto;
      }
      @media (max-width: 650px) {
        width: 90% !important;
        padding: 0;
      }
      .collapsible {
        border: none !important;
        box-shadow: none !important;
        .collapsible-header {
          margin: 20px 0;
          font-size: 20px;
          font-weight: 100;
          color: $primary-color-dark;
          background-color: $primary-color;
          font-family: $title-font-family;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px;
          -webkit-tap-highlight-color: rgba(0,0,0,0);
          -webkit-tap-highlight-color: transparent;
          @media (max-width: 1200px) {
            font-size: 18px;
          }
          @media (max-width: 1100px) {
            font-size: 16px;
          }
          @media (max-width: 460px) {
            font-size: 14px;
          }
          @media (max-width: 370px) {
            font-size: 13px;
          }
        }
        .double {
          @media (max-width: 370px) {
            line-height: 1.2rem;
            padding-top: .3rem;
          }
        }
        .collapsible-body {
          font-size: 15px;
          font-weight: 100;
          border-bottom: none;
          border-left: 2px solid $primary-color;
          color: $secondary-text;
          font-family: $secondary-text-font-family;
          @media (max-width: 370px) {
            font-size: 13px;
          }
          .body-text {
            @media (max-width: 400px) {
              padding: 0 2rem;
            }
          }
        }

      }
    }
  }
}
