.indicators-container {
    padding: 60px 100px;
    background: rgb(244,216,51);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(244,216,51,1) 0%, rgba(244,216,51,1) 50%, rgba(229,191,0,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(244,216,51,1) 0%,rgba(244,216,51,1) 50%,rgba(229,191,0,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(244,216,51,1) 0%,rgba(244,216,51,1) 50%,rgba(229,191,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4d833', endColorstr='#e5bf00',GradientType=1 );
    font-family: $secondary-text-font-family;
    font-weight: 100;
    @media (max-width: 1000px) {
      padding: 30px 50px;
    }
    @media (max-width: 800px) {
      padding: 50px;
    }
    @media (max-width: 400px) {
      padding: 50px 20px;
    }
    .map-cont {
      text-align: center;
      color: $primary-color-dark;
      @media (max-width: 800px) {
        width: 100% !important;
        display: block;
      }
      .facts-title {
        margin: 0;
        font-size: 45px;
        font-family: $title-font-family;
        display: none;
        @media (max-width: 1100px) {
          font-size: 35px;
        }
        @media (max-width: 900px) {
          font-size: 30px;
        }
        @media (max-width: 800px) {
          display: block;
          margin-bottom: 30px;
          font-size: 40px;
        }
        @media (max-width: 400px) {
          font-size: 33px;
        }
      }
      .map-img {
        width: 400px;
        display: block;
        margin: 0 auto;
        @media (max-width: 1100px) {
          width: 300px;
        }
        @media (max-width: 400px) {
          width: 90%;
        }
      }
    }
    .facts-cont {
      height: 100%;
      margin: 0 auto;
      display: block;
      max-width: 1300px;
      color: $primary-color-dark;
      text-align: center;
      @media (max-width: 800px) {
        width: 100% !important;
        display: block;
      }
      .facts-cont-info {
        .facts-title {
          margin: 0;
          font-size: 45px;
          font-family: $title-font-family;
          @media (max-width: 1100px) {
            font-size: 35px;
          }
          @media (max-width: 900px) {
            font-size: 30px;
          }
          @media (max-width: 800px) {
           display: none;
          }
        }
        .separator {
          width: 100px;
          display: block;
          margin: 20px auto;
          border: 0;
          height: 1px;
          background:  #DAB900;
          @media (max-width: 800px) {
           display: none;
          }
        }
        .facts-text {
          font-size: 19px;
          margin: 40px 0;
          color: #897400;
          @media (max-width: 1100px) {
            font-size: 17px;
          }
          @media (max-width: 900px) {
            font-size: 15px;
          }
          @media (max-width: 800px) {
            font-size: 17px;
            margin: 25px 0;
          }
        }
        .indicator {
          text-align: center;
          font-family: $title-font-family;
          @media (max-width: 450px) {
            width: 100%;
          }
          .indicator-number {
            font-size: 55px;
            font-weight: 100;
            font-family: $secondary-text-font-family;
            @media (max-width: 1100px) {
              font-size: 45px;
            }
            @media (max-width: 800px) {
              font-size: 40px;
            }
          }
          .indicator-text {
            font-size: 20px;
            @media (max-width: 1100px) {
              font-size: 17px;
            }
            @media (max-width: 900px) {
              font-size: 15px;
            }
            @media (max-width: 800px) {
              font-size: 17px;
            }
          }
        }
        .borders {
          border-right: 1px solid #DAB900;
          border-left: 1px solid #DAB900;
          @media (max-width: 450px) {
            border: none;
          }
        }
      }
    }
}
