body {
	background-color: #fff;
	.side-nav {
		.logo {
			width: 75%;
			display: block;
			margin: 20px auto;
		}
		text-transform: uppercase;
		background-color: $primary-color;
		li {
			a {
				height: 45px;
				line-height: 45px;
			}
		}
		li:hover {
			background: darken($primary-color, 8.5%);
		}
		.menu-social {
			.menu-social_title {
				color: #b69c00;
				margin: 15px 0 0 0;
				padding-left: 30px;
			}
			.menu-social_btn {
	          line-height: 0;
	          padding-left: 30px;
	          .social-list {
	            color: #b69c00;
	            padding: 0;
	            font-size: 22px;
	            vertical-align: top;
	            margin-right: 20px;
	            display: inline-block;
	            li {
	            	padding: 0;
	            }
	            li:hover {
	            	background: $primary-color;
	            }
	          }
	        }
		}
	}
	.wrap-container{
		background-color: #fff;
			.intro-container {
				width: 100%;
				height: 100vh;
				display: block	;
				position: relative;
				.covervid-wrapper {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: url("../images/bg-parallax.jpg") no-repeat center center fixed;
					-webkit-background-size: cover;
					-moz-background-size: cover;
					-o-background-size: cover;
					background-size: cover;
					.filter {
						position: absolute;
						width: 100%;
						height: 100%;
						background-color: $filter-color;
						z-index: 1;
					}
					.covervid-video {
						@media (max-width: 700px) {
							display: none;
						}
					}
				}
				.logo-container {
					width: 100%;
					height: 100%;
					padding: 10em 0 0 0;
					display: block;
					position: absolute;
					text-align: center;
					z-index: 2;
					@media (max-width: 1000px) {
						padding: 25vh 0 0 0;
					}
					@media (max-width: 680px) {
						padding: 22vh 0 0 0;
					}
					@media (max-width: 500px) {
						padding: 24vh 0 0 0;
					}
					.logo-img {
						width: 580px;
						@media (max-width: 1000px) {
							width: 500px;
						}
						@media (max-width: 680px) {
							width: 80%;
						}
					}
					.intro-text {
						color: $text-color;
						font-size: 60px;
						font-weight: 100;
						font-family: $secondary-text-font-family;
						line-height: 60px;
						text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.51);
						@media (max-width: 1000px) {
							font-size: 40px;
							line-height: 40px;
						}
						@media (max-width: 680px) {
							padding: 0 50px;
						}
						@media (max-width: 500px) {
							font-size: 30px;
							line-height: 30px;
						}
					}
					.intro-text-bold {
						font-weight: 400;
					}
					.intro-stores-container {
						margin-top: 20px;
						padding: 30px 50px;
						@media (max-width: 1000px) {
							margin-top: 0px;
						}
						.img-cont {
							display: inline-block;
							.store-img {
								width: 200px;
								margin: 0 15px;
								padding: 0 5px;
								background: rgba(255,255,255,0.2);
								-webkit-transition: all .2s ease;
								-moz-transition: all .2s ease;
								-ms-transition: all .2s ease;
								-o-transition: all .2s ease;
								transition: all .2s ease;
								-webkit-border-radius: 7px;
								-moz-border-radius: 7px;
								border-radius: 7px;
								@media (max-width: 1000px) {
									width: 170px;
									margin: 0 10px;
								}
								@media (max-width: 680px) {
									display: none;
								}
							}
							.store-img:hover {
								background: rgba(255,255,255,0.4);
							}
							.store-img-sm {
								@extend .store-img;
								width: 70px;
								padding: 10px;
								display: none;
								@media (max-width: 680px) {
									display: block;
								}
								@media (max-width: 500px) {
									width: 60px;
								}
								@media (max-width: 350px) {
						        	width: 50px;
						        	margin: 0 5px;
						      	}
							}
						}
					}

					.arrow-down {
						width: 100%;
						display: block;
						margin: 0 auto;
						color: $text-color;
						opacity: .5;
						bottom: 20px;
						position: absolute;
						-webkit-transition: all .2s ease;
						-moz-transition: all .2s ease;
						-ms-transition: all .2s ease;
						-o-transition: all .2s ease;
						transition: all .2s ease;
						.arrow-down_icon {
							bottom: 0;
							font-size: 60px;
						}
					}
					.arrow-down:hover {
						opacity: 1;
					}
				}
			}
		}
		.button-collapse {
			top: 50px;
			right: 50px;
			width: 70px;
			height: 70px;
			position: fixed;
			z-index: 100;
			text-align: center;
			background: $primary-color;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
			@media (max-width: 1000px) {
				top: 30px;
				right: 30px;
			}
			@media (max-width: 500px) {
				top: 20px;
				right: 10px;
				width: 60px;
				height: 60px;
			}
			@media (max-width: 350px) {
				width: 55px;
				height: 55px;	
			}
			.icon {
				color: $primary-text;
				font-size: 45px;
				@media (max-width: 500px) {
					font-size: 40px;
				}
				@media (max-width: 350px) {
					font-size: 35px;
				}
			}
		}
}