.services-container {
  height: auto;
  padding: 70px 50px 100px 50px;
  text-align: center;
  background: white;
  @media (max-width: 820px) {
    padding: 50px 50px 60px 50px;
  }
  @media (max-width: 400px) {
    padding: 30px 20px;
  }
  .services-title {
    color: $primary-text;
    margin-bottom: 70px;
    font-family: $title-font-family;
    @media (max-width: 500px) {
      margin-bottom: 30px;
    }
    @media (max-width: 400px) {
      font-size: 33px;
    }
  }
  .services {
    max-width: 1300px;
    .grid {
      figure {
        @media (max-width: 784px) {
          width: 80%;
          min-width: 200px;
          margin-bottom: 40px;
        }
        .card-title {
          font-size: 30px;
          @media (max-width: 784px) {
            font-size: 38px;
          }
          @media (max-width: 550px) {
            font-size: 24px;
            margin: 15px 0;
          }
        }
        .card-text {
          text-transform: none;
          font-family: $secondary-text-font-family;
          font-weight: 100;
          @media (max-width: 784px) {
            font-size: 15px;
          }
          @media (max-width: 550px) {
            display: none;
          }
        }
      }
    }
  }
}