.wrap-error {
	height: 100vh;
	background: #3f00a7;
	 background: url("../images/errorbackground.jpg") no-repeat center center fixed;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	.main-error {
		width: 60%;
		display: block;
		margin: 0 auto;
		overflow: hidden;
		@media (max-width: 1000px) {
			padding-top: 30px;
		}
		@media (max-width: 740px) {
			width: 80%;
		}
		@media (max-width: 550px) {
			padding-top: 20px;
		}
		@media (max-width: 500px) {
			height: auto;
		}
		@media (max-width: 3500px) {
			width: 90%;
		}
		.img-cont {
			padding: 0;
			img {
				width: 600px;
				display: block;
				margin: 0 auto;
				border-bottom: 3px solid $primary-color;
				@media (max-width: 1200px) {
					width: 500px;
				}
				@media (max-width: 570px) {
					width: 90%;
				}
				@media (max-width: 500px) {
					min-width: 100px;
				}
			}
		}
		.info-cont {
			padding: 20px;
			color: $text-color;
			text-align: center;
			.info-title {
				margin: 0;
			}
			.info-text {
				font-size: 23px;
				font-weight: 100;
				font-family: $secondary-text-font-family;
				@media (max-width: 500px) {
					font-size: 18px;
				}

			}
			.btn-cont {
				margin-top: 15px;
				.btn {
					background: #f4be16;
					display: inline-block;
					.icon {
						@media (max-width: 500px) {
							margin: 0;
							font-size: 25px;
						}
					}
					span {
						@media (max-width: 500px) {
							display: none;
						}
					}
				}
			}
		}
	}
	.footer {
		position: fixed;
		bottom: 0;
	}
}