body {
	.map-wrap {
		width:100vw;
		height:100vh;
		z-index: 9999999;
		position: relative;
		.map-main{
			width: 75%;
		    height: 100%;
		    float: right;
			.map {
				width:100%;
				height:100%;
				z-index: -1;
			}
			.modal {
				left: 25%;
				height: 500px;
				max-height: 500px;
				.modal-content {
					.tabs {
						.tab {
							
							font-weight: 100;
							a {
								color: $secondary-color;
							}
						}
						.indicator {
							background-color: $secondary-color;
						}
					}
					.tab-content {
						padding: 25px 10px 0 10px;
					}	
				}
				.modal-footer {
					padding:0 20px;
					.btn {
						float: none;
						display: block;
						margin: 0 auto;
						font-weight: 100;
						background-color: $secondary-color;
					}
				}
			}
			.notification {
				.message {
					font-weight: 100;
					font-family: $secondary-text-font-family;
					padding: 5px 20px;
					margin: 10px 10px 0 0;
					color: #A94442;
					border: 1px solid #A94442;
					background-color: rgba(242,222,222,.9);
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
				}
				top: 0;
				right: 0;
				position: absolute;
				z-index: 99999999999999999;
				.preloader-wrapper {
					margin: 20px 20px 0 0;
					.spinner-layer {
						border-color: $secondary-color;
					}

				}
			}
		}
		.side-nav {
			width: 320px;
			font-family: $secondary-text-font-family !important; 
			background-color: $light-text-color;
			background-color: #E2E2E2;
			@media (max-width: 992px) {
		    	left: 0 !important;
		  	}
			.drivers-cont {
				padding-top: 114px;
				.sidenav-header {
					top: 0;
					z-index: 9999999;
					width: 320px;
					padding: 30px 0;
					position: fixed;
					background: url("../images/bgfilter.jpg") no-repeat center center;
					-webkit-background-size: cover;
					-moz-background-size: cover;
					-o-background-size: cover;
					background-size: cover;
					.logo {
						margin: 0 auto;
					}
				}
				.search-input {
					width: 320px;
					height: 65px;
					display: block;
					position: relative;
					font-weight: 300;
					color: $primary-color-dark;
					background-color: $primary-color;
					input {
						height: 65px;
					}
				}
				.sidenav-item {
					width: 90%;
					display: block;
					padding: 10px;
					margin: 15px auto;
					font-weight: 100;
					font-size: 14px;
					text-transform: none;
					background-color: $text-color;
					-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
					-moz-box-shadow:    0px 2px 5px 0px rgba(0, 0, 0, 0.1);
					box-shadow:         0px 2px 5px 0px rgba(0, 0, 0, 0.1);
					-webkit-transition:all .2s ease;
					-moz-transition:all .2s ease;
					-ms-transition:all .2s ease;
					-o-transition:all .2s ease;
					transition:all .2s ease;
					.img-cont {
						width: 30%;
						position: relative;
						display: inline-block;
						.img-main {
							position: relative;
							.img {
								width: 100%;
								border: 2px solid #F0F3EE;
								-webkit-border-radius: 100%;
								-moz-border-radius: 100%;
								border-radius: 100%;
							}
							.state {
								width: 15px;
								height: 15px;
								bottom: 5px;
								left: 5px;
								position: absolute;
								-webkit-border-radius: 100px;
								-moz-border-radius: 100px;
								border-radius: 100px;
							}
							.active {
								border: 1px solid #008B06;
								background-color: #00C609
							}
							.inactive {
								border: 1px solid #A1A3A0;
								background-color: #B2B4B1;
							}
							.suspended {
								border: 1px solid #A00000;
								background-color: #C60000;
							}
							.busy {
								border: 1px solid #C35611;
								background-color: #E36212;
							}
						}
						.peity {
							margin-top: 10px !important;
						}
						
					}
					.info-cont {
						width: 65%;
						color: #535353;
						padding: 0 0 0 10px;
						vertical-align: top;
						display: inline-block;
						.name {
							font-weight: 700;
						}
						.info {
							.icon {
								font-size: 16px;
							}
						} 
						.btn {
							margin: 10px 0;
							font-size: 14px;
							color: $primary-color-dark;
							background-color: $primary-color;
						}
					}
				}
			}
			.datails-cont {
				// display: none;
				.arrow {
					top: 20px;
					left: 20px;
					padding:0;
					color: $primary-color-dark;
					position: absolute;
					z-index: 9999999999;
					text-align: center;
					background-color: $primary-color;
					-webkit-border-radius: 100%;
					-moz-border-radius: 100%;
					border-radius: 100%;
					.icon {
						font-size: 25px;
						color: $primary-color-dark;
					}
				}
				.img-cont {
					padding: 25px 0;
					position: relative;
					background: url("../images/bgfilter.jpg") no-repeat center center;
					-webkit-background-size: cover;
					-moz-background-size: cover;
					-o-background-size: cover;
					background-size: cover;
					.img {
						width: 40%;
						margin: 0 auto;
						display: block;
						border: 5px solid #F0F3EE;
						-webkit-border-radius: 100%;
						-moz-border-radius: 100%;
						border-radius: 100%;
					}
					.state {
						width: 20px;
						height: 20px;
						position: absolute;
						right: 33%;
						bottom: 35%;
						-webkit-border-radius: 100%;
						-moz-border-radius: 100%;
						border-radius: 100%;
					}
					.active {
						border: 1px solid #008B06;
						background-color: #00C609
					}
					.inactive {
						border: 1px solid #A1A3A0;
						background-color: #B2B4B1;
					}
					.suspended {
						border: 1px solid #A00000;
						background-color: #C60000;
					}
					.busy {
						border: 1px solid #C35611;
						background-color: #E36212;
					}
				}
				.btn {
					width: 200px;
					height: 40px;
					line-height: 40px;
				    padding: 0;
				    display: block;
				    color: $primary-color-dark;
				    background-color: $primary-color;
				    text-transform: none;
				    position: relative;
				    margin: 20px auto 0 auto;
				}
				.info-cont {
					.collapsible {
						text-transform: none;
						-webkit-transition: all 1s ease;                  
						-moz-transition: all 1s ease;
						-o-transition: all 1s ease;
						-ms-transition: all 1s ease;
						transition: all 0.3s ease;
						.collapsible-header {
							width: 100%;
							margin: 0;
							padding: 0 15px;
							background-color: #E2E2E2;
							border-bottom: 1px solid #CECECE;
							line-height: 290%;
							-webkit-transition: all 1s ease;                  
							-moz-transition: all 1s ease;
							-o-transition: all 1s ease;
							-ms-transition: all 1s ease;
							transition: all 0.3s ease;	
						}
						.collapsible-header:hover {
							background-color: #D7D7D7;
						}
						.active {
							color: $primary-color-dark;
							background-color: $primary-color;
						}
						.active:hover {
							background-color: darken($primary-color, 5%);
						}
						.collapsible-body {
							padding: 0;
							font-weight: 100;
							.collection {
								.collection-item {
									height: 40px;
									padding: 0 20px;
									color: #585858;
									font-size: 14px;
									background-color: #fff;
									border-bottom: 1px solid #EBEBEB;
									.text {
										padding: 0rem 10px;
									}
								}

							}
						}
					}
				}
			}
			
			#out {
				top: 30px;
				right: 30px;
				position: absolute;
				z-index: 999999999999999;
			}
		}
	}
}