body {
	.wrap-registration {
		.covervid-wrapper {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    z-index: -1;
		    background: url("../images/bg-parallax.jpg") no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;

		    .filter {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: $filter-color;
				z-index: 1;
			}
			.covervid-video {
				@media (max-width: 700px) {
					display: none;
				}
			}
		}
		.main-cont {
			width: 400px;
			display: block;
			margin: 80px auto 0 auto;
			text-align: center;
			@media (max-width: 500px) {
				width: 85%;
				margin: 50px auto 0 auto;
			}
			.logo-img {
				width: 300px;
				@media (max-width: 500px) {
					width: 70%;
				}
				@media (max-width: 450px) {
					display: none;
				}
			}
			.logo-img-min {
				width: 80px;
				display: none;
				margin: 20px auto;
				@media (max-width: 450px) {
					display: block;
				}
			}
			.form-cont {
				.tab-header {
					padding: 0;
					.tabs {
						.tab a {
							color: $divider-color;
							background-color: #C0C0C0;
							text-transform: none;
							font-weight: 100;
							color: #fff;
						}
						.tab .active {
							color: $secondary-color;
							background-color: $text-color;
						}
						.indicator {
							display: none;
							background-color: $secondary-color !important;
						}

					}
				}
				.tab-body {
					font-family: $secondary-text-font-family;
					padding: 10px 20px !important;
					@media (max-width: 350px) {
						padding: 10px !important;
					}
					.form-cont {
						.form {
							.input-cont {
								width: 100%;
								display: block;
								margin: 0 auto;
								.input-field {
									input {
										font-weight: 100;
									}
									input:-webkit-autofill,
									input:-webkit-autofill:focus,
									input:-webkit-autofill:active {
									    -webkit-box-shadow: 0 0 0px 1000px white inset;
									}
								}
								/* label color */
							   .input-field label {
							     	color: #8C8C8C;
							     	font-weight: 100;
							   }
							   .input-field input:focus {
							     	border-bottom: 1px solid $secondary-color;
							     	box-shadow: 0 1px 0 0 $secondary-color;
							   }
							   .input-field .prefix.active {
							   		color: $secondary-color;
			   					}
							}
							.btn {
								width: 95%;
								margin: 10px 0;
								font-weight: 100;
								text-transform: none;
								background-color: $secondary-color;
								-webkit-border-radius: 3px;
								-moz-border-radius: 3px;
								border-radius: 3px;
							}
							.submit-btn {
								margin-top: 20px;
							}
							.facebook-btn {
								background-color: $facebook-color;
							}
							.label {
								margin: 0;
								color: #909090;
								font-size: 18px;
								font-weight: 100;
								text-align: center;
							}
						}
					}
				}
			}
		}
	}
}